/* 
These are helper classes
*/

/* Margin */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1em;
}
.m-2 {
  margin: 2em;
}
.m-3 {
  margin: 3em;
}
.m-4 {
  margin: 4em;
}
.m-5 {
  margin: 4em;
}

.my-0 {
  margin: 0 initial;
}
.my-1 {
  margin: 1em initial;
}
.my-2 {
  margin: 2em initial;
}
.my-3 {
  margin: 3em initial;
}
.my-4 {
  margin: 4em initial;
}
.my-5 {
  margin: 4em initial;
}

.mx-0 {
  margin: initial 0;
}
.mx-1 {
  margin: initial 1em;
}
.mx-2 {
  margin: initial 2em;
}
.mx-3 {
  margin: initial 3em;
}
.mx-4 {
  margin: initial 4em;
}
.mx-5 {
  margin: initial 4em;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mb-3 {
  margin-bottom: 3em;
}
.mb-4 {
  margin-bottom: 4em;
}
.mb-5 {
  margin-bottom: 4em;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-5 {
  margin-top: 4em;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 1em;
}
.ml-2 {
  margin-left: 2em;
}
.ml-3 {
  margin-left: 3em;
}
.ml-4 {
  margin-left: 4em;
}
.ml-5 {
  margin-left: 4em;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 1em;
}
.mr-2 {
  margin-right: 2em;
}
.mr-3 {
  margin-right: 3em;
}
.mr-4 {
  margin-right: 4em;
}
.mr-5 {
  margin-right: 4em;
}

/* Padding */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}
.p-3 {
  padding: 3em;
}
.p-4 {
  padding: 4em;
}
.p-5 {
  padding: 4em;
}

.py-0 {
  padding: 0 initial;
}
.py-1 {
  padding: 1em initial;
}
.py-2 {
  padding: 2em initial;
}
.py-3 {
  padding: 3em initial;
}
.py-4 {
  padding: 4em initial;
}
.py-5 {
  padding: 4em initial;
}

.px-0 {
  margin: initial 0;
}
.px-1 {
  padding: initial 1em;
}
.px-2 {
  padding: initial 2em;
}
.px-3 {
  padding: initial 3em;
}
.px-4 {
  padding: initial 4em;
}
.px-5 {
  padding: initial 4em;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1em;
}
.pb-2 {
  padding-bottom: 2em;
}
.pb-3 {
  padding-bottom: 3em;
}
.pb-4 {
  padding-bottom: 4em;
}
.pb-5 {
  padding-bottom: 4em;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1em;
}
.pt-2 {
  padding-top: 2em;
}
.pt-3 {
  padding-top: 3em;
}
.pt-4 {
  padding-top: 4em;
}
.pt-5 {
  padding-top: 4em;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 1em;
}
.pl-2 {
  padding-left: 2em;
}
.pl-3 {
  padding-left: 3em;
}
.pl-4 {
  padding-left: 4em;
}
.pl-5 {
  padding-left: 4em;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 1em;
}
.pr-2 {
  padding-right: 2em;
}
.pr-3 {
  padding-right: 3em;
}
.pr-4 {
  padding-right: 4em;
}
.pr-5 {
  padding-right: 4em;
}

/* Text Align */
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
/* Float Left/Right */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}

html {
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}